@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    transition: .3s;
}

a {
  text-decoration: none !important;
  color:whitesmoke !important;
}

.navbar {
    background-color: #023047;
    color: whitesmoke;
    padding: 5px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
}

 .cart {
    position: relative;
    display: flex;
    background-color: whitesmoke;
    color: #023047;
    padding: 5px;
    border-radius: 5px;
}

.cart-amount {
    background-color: #c74545;
    font-size: 16px;
    color: whitesmoke;
    position: absolute;
    top: -15px;
    right: 0;
    border-radius: 50px;
}

 .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    padding: 0.5rem;
    gap:1rem;
    justify-content: center;
}

.item {
    border: 2px solid gainsboro;
    border-radius: 4px;
    padding: 1%;
}

.itemdetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0.5rem;
}

.item-title {
    font-size: 14px;
    padding: 3px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align:start;
}

.item-desc {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    text-align:start;
}

.quantity-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.item-price {
    font-size: 14px;
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.item-buttons {
    flex-direction: row;
    gap: 8px;
    align-items: center;
    display:flex;
    vertical-align: middle
}

.item-buttons>i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 10px;
    background-color: antiquewhite;
    padding: 0.3rem;
    cursor: pointer;
  
}

.item-buttons>.countqty {
   width:80px;
   height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 0.3rem;
  
    cursor: pointer;
}
.item-add{
    background-color:#3a86ff;
    width:100%;
    height:40px;
    padding: 0.3rem;
    color:whitesmoke;
    margin:0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display:block;
    text-align:center;
}
@media (max-width:1000px){
 .shop{
    grid-template-columns: repeat(4, 223px);
}
}

@media (max-width:500px){
     .shop{
        grid-template-columns: repeat(2, 223px);
    }
    }

    /**
* ! style rules for label and some buttons
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }; 
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display:flex;
    justify-content: center;
    gap: 15px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
    border: 1px solid whitesmoke;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btndelt{
    background-color: #ff595e;
    border: none;
    color: whitesmoke;
    padding: 5px;
    text-align:center;
    cursor: pointer;
  }