* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color: #023047;
    color: whitesmoke;
    padding: 5px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart {
    position: relative;
    display: flex;
    background-color: whitesmoke;
    color: #023047;
    padding: 5px;
    border-radius: 5px;
}

.cart-amount {
    background-color: #c74545;
    font-size: 16px;
    color: whitesmoke;
    position: absolute;
    top: -15px;
    right: 0;
    border-radius: 50px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    padding: 0.5rem;
    gap:1rem;
    justify-content: center;
}

.item {
    border: 2px solid gainsboro;
    border-radius: 4px;
    padding: 1%;
}

.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-title {
    font-size: 14px;
    padding: 3px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.item-desc {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.quantity-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.item-price {
    font-size: 14px;
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.item-buttons {
    flex-direction: row;
    gap: 8px;
    align-items: center;
    display:flex;
    vertical-align: middle
}

.item-buttons>i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 10px;
    background-color: antiquewhite;
    padding: 0.3rem;
    cursor: pointer;
  
}

.item-buttons>.quantity {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    padding: 0.3rem;
    cursor: pointer;
}

@media (max-width:1000px){
.shop{
    grid-template-columns: repeat(2, 223px);
}
}

@media (max-width:500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
    }